<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/chat.css">
  <meta http-equiv="refresh" content="5; url=/chat">
  <title>404'd - chat@ichoria★org</title>
</head>
<body>
  <h3>404 - El archivo no existe.</h3>
  <a href="/" target="_parent">Volver</a>
</body>
</html>
