html {
  color-scheme: dark;
  text-rendering: optimizeSpeed;
}

body {
  background-color: #161421;
  color: #e1d9fa;
  font-family: 'MS PGothic', 'Mona', 'Noto Sans Mono CJK JP', monospace;
}

h1 {
  color: #ff1638;
  padding: 0;
  font-size: 20pt;
  border-bottom: 1px solid gray;
}

h2 {
  font-size: 18pt;
}

.pink {
  color: #ff1638;
}

.yellow {
  color: #eafc5b;
}

.green {
  color: #6cffcd;
}

.blue {
  color: #4287f5;
}

.gray {
  color: gray;
}

.emote {
  max-width: 32px;
  height: auto;
  vertical-align: middle;
}

a:link, a:visited {
  color: #60bdff;
}

a:hover {
  color: #ff1638; 
}

.spoiler {
  background-color: black;
  color: black;
  transition: .3s;
}

.spoiler:hover {
  background-color: transparent;
  color: #e1d9fa;
}

.rainbow {
  font-weight: bold;
  background: linear-gradient(
    to right,
    #ff1638,
    #ff9932,
    #eafc5b,
    #6cffcd,
    #4287f5,
    #342f52,
    #aa42ff
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

hr {
  border: none;
  border-bottom: 1px solid gray;
}

input[type="text"] {
  width: 500px;
  max-width: 98%;
  background-color: #342f52;
  border: none;
  border-left: 2px solid #b572fc;
  padding: 4px;
  transition: .2s;
}

input[type="text"]:hover {
  background-color: #2f3952;
  border-left: 2px solid #6363ff;
}

.msgbox {
  width: 600px !important;
}

input[type="submit"],
input[type="reset"] {
  margin-top: 4px;
  background-color: #342f52;
  border: none;
  border-top: 2px solid #b572fc;
  border-left: 2px solid #b572fc;
  border-bottom: 2px solid #3d1d52;
  border-right: 2px solid #3d1d52;
  border-radius: 2px;
  font-size: 11pt;
  transition: .2s;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #2f3952;
  border: none;
  border-top: 2px solid #6363ff;
  border-left: 2px solid #6363ff;
  border-bottom: 2px solid #132236;
  border-right: 2px solid #132236;
  border-radius: 2px;
}

@media (max-width: 767px) {
  h1,h2 {
    font-size: 10pt;
  }

  body {
    font-size: 11pt;
  }
}
